.App {
    text-align: center;
}

.board--small {
    --board-size: 5;
}

.board--big {
    --board-size: 7;
}

.board {
    border: black 2px solid;
    display: grid;
    --box-size: 10vmin;
    grid-template: repeat(var(--board-size), var(--box-size)) / repeat(var(--board-size), var(--box-size));
    width: max-content;
    margin: auto;
}

.board-field {
    border: black 1px solid;
}

.field--kill::before {
    content: 'X';
    color: red;
    display: grid;
    place-items: center;
    background: none;
    position: absolute;
}

.field--blocked {
    background: black;
}
